[user]
	email = dfajmon@redhat.com
	name = Daniel Fajmon
	signingKey = ""
[core]
	editor = nano
	sshCommand = ssh -i ~/.ssh/id_ed25519
	excludesfile = ~/.gitignore_global
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = false
	verbose = true
[tag]
	forceSignAnnotated = false
	sort = version:refname
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[remote]
	pushDefault = origin
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[includeIf "gitdir:~/solumath/"]
    path = ~/.dotfiles/git/.gitconfig_solumath
[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.dotfiles/git/.gitconfig_solumath
[includeIf "gitdir:~/openshift/"]
    path = ~/.dotfiles/git/.gitconfig_dfajmon
[includeIf "gitdir:~/kubernetes/"]
    path = ~/.dotfiles/git/.gitconfig_dfajmon
[alias]
	st = status -u
	df = diff --color --color-words --abbrev
	dif = diff
	# <date> <sha1> (<ref names>) <author> <title>
	tree = log --all --graph --pretty=format:'%Cgreen%ad%Creset %C(auto)%h%d %C(bold black)[%aN]%Creset %s' --date=format-local:'%Y-%m-%d %H:%M'
	sync = "!f() { git checkout $(git remote show origin | grep 'HEAD branch' | awk '{print $3}') && git fetch upstream && git pull upstream $(git remote show upstream | grep 'HEAD branch' | awk '{print $3}') && git push; }; f"
	del = !"git branch -D $1 && git push origin --delete $1; git fetch --all --prune"
	c = commit -am
	fpush = push --force
	cp = cherry-pick
	cherrypick = cherry-pick
	amend = commit --amend --all --no-edit
	sreset = !"git reset --soft $3"
	hreset = !"git reset --hard $3"
